In [1]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [21]:
svd_df = pd.read_csv("preprocessed_data_SVD.csv",header=None)
pca_df = pd.read_csv("preprocessed_data_PCA.csv",header=None)
labels_df = pd.read_csv("labels.csv", header=None)

In [22]:
labels = labels_df.iloc[:,1]

In [23]:
svd_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,241.065407,4.568325,-29.462353,-16.344498,21.554520,8.727630,46.992144,-21.437557,-27.379202,24.916987,-6.506860,4.952574,-9.031316,3.972765,-0.521677
1,241.005587,4.138426,-29.741656,-16.198781,21.835562,8.575280,47.714613,-21.275756,-27.438019,24.804485,-6.779410,4.581905,-8.762475,3.773299,-0.523821
2,241.073656,4.292379,-29.770200,-16.070736,21.125088,8.825954,47.850472,-22.349457,-26.336326,24.138650,-6.850718,4.128201,-8.337516,3.462832,-0.352323
3,240.909646,3.684386,-29.524516,-15.926641,21.675685,8.243264,47.916351,-21.702392,-27.591276,24.469207,-7.219079,4.170502,-8.284885,3.365185,-0.576131
4,241.038717,4.556688,-29.451037,-15.879348,21.266759,8.466058,48.033721,-21.416052,-28.020814,24.825513,-7.094547,4.461557,-8.635757,3.677593,-0.646860

In [5]:
pca_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405725,23.781513,-5.840281,-2.202161,9.618831,-7.817354,-2.326413,0.830279
1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324971,-7.529464,-2.212197,1.018723
2,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755439,-7.158226,-1.902848,1.055714
3,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535679,-2.766648,8.991217,-6.957730,-2.020537,1.184568
4,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404352,-2.656896,9.327715,-7.326091,-2.264919,0.889200

In [6]:
# Normalize PCA reduced values
pca_df=(pca_df-pca_df.mean())/pca_df.std()

In [24]:
svd_df=(svd_df-svd_df.mean())/svd_df.std()

In [25]:
# Split SVD data
X_train, X_test, y_train, y_test = train_test_split(
    svd_df, labels, test_size=0.25, random_state=42)

In [7]:
# Split PCA data
X_train, X_test, y_train, y_test = train_test_split(
    pca_df, labels, test_size=0.25, random_state=42)

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

In [27]:
%%time
# Fit regression model
rng = np.random.RandomState(1)
regr_abdt = AdaBoostClassifier(DecisionTreeClassifier())
regr_abdt.fit(X_train, y_train)

CPU times: user 1min 36s, sys: 792 ms, total: 1min 37s
Wall time: 1min 38s

In [28]:
# Predict
predicted_values = regr_abdt.predict(X_test)

In [29]:
y_train.head()

1248855    24
1595994    17
348430     17
11151       1
1584520    17
Name: 1, dtype: int64

In [30]:
# Get Accuracy Score
accuracy_score(y_test, predicted_values)

0.9776825236042312

In [31]:
# Save Model
import pickle
pickle.dump(regr_abdt, open("Adaboost_SVD.pkl", "wb"))