## Import libraries

In [2]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math

## Present working directory

In [3]:
 pwd

'/Users/Vishu/SJSU/cmpe255/TermProject/cmpe255-termproject'

## New dataframe for consolidating all the data

In [4]:
all_subject_df = pd.DataFrame()

## Function to load all the datasets into a single dataframe

In [5]:
def load_datasets(folderpath):
    global all_subject_df
    
    files = [f for f in listdir(folderpath) if isfile(join(folderpath, f))]
    
    for file in files:
        subject_id = file.split('.')
        full_file_name = folderpath + '/' + str(file)
        print ("Loading dataset - {}".format(full_file_name))
        subject_df = pd.read_csv(full_file_name,sep = ' ', header=None)
        subject_df['subject_id'] = subject_id[0]
        all_subject_df = all_subject_df.append(subject_df, ignore_index=True, sort=False)

In [6]:
load_datasets("dataset/Protocol") # Provide the folder path containing datasets

Loading dataset - dataset/Protocol/subject108.dat
Loading dataset - dataset/Protocol/subject109.dat
Loading dataset - dataset/Protocol/subject107.dat
Loading dataset - dataset/Protocol/subject106.dat
Loading dataset - dataset/Protocol/subject104.dat
Loading dataset - dataset/Protocol/subject105.dat
Loading dataset - dataset/Protocol/subject101.dat
Loading dataset - dataset/Protocol/subject102.dat
Loading dataset - dataset/Protocol/subject103.dat

## Original dataframe size

In [7]:
all_subject_df.shape

(2872533, 55)

## Loading optional datasets
Commented to reduce data size

In [57]:
# load_datasets("./dataset/Optional") # Provide the folder path containing datasets

## Size after loading optional datasets
Commenting due to exclusion of optional dataset

In [58]:
# all_subject_df.shape

## Count of records for each subject

In [59]:
all_subject_df['subject_id'].value_counts()

subject102    447000
subject108    408031
subject101    376417
subject105    374783
subject106    361817
subject104    329576
subject107    313599
subject103    252833
subject109      8477
Name: subject_id, dtype: int64

In [60]:
all_subject_df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,subject_id
0,5.89,0,NaN,33.3125,-9.79760,-1.45670,1.014380,-9.70702,-1.60337,1.32098,...,0.010364,0.010731,-35.4550,38.3829,-17.9083,0.546211,0.370903,0.695334,0.283892,subject108
1,5.90,0,NaN,33.3125,-9.91204,-1.41822,0.974050,-9.78262,-1.60285,1.29085,...,-0.005926,-0.006704,-35.4508,38.2543,-17.7663,0.545806,0.370867,0.695680,0.283872,subject108
2,5.91,0,NaN,33.3125,-9.87531,-1.57027,0.975113,-9.78237,-1.57265,1.29079,...,-0.002265,0.014646,-35.6984,38.2688,-17.0580,0.545484,0.371607,0.695437,0.284117,subject108
3,5.92,0,NaN,33.3125,-9.72175,-1.60870,1.054520,-9.70677,-1.60334,1.35118,...,0.035314,0.010983,-34.9492,38.7447,-17.6233,0.545474,0.372077,0.694859,0.284935,subject108
4,5.93,0,NaN,33.3125,-9.79920,-1.49497,0.975999,-9.58657,-1.57408,1.27549,...,-0.001065,-0.000410,-35.2105,38.8857,-17.9080,0.545810,0.372349,0.694122,0.285732,subject108

## Statistics for the data

In [61]:
all_subject_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
count,2.872533e+06,2.872533e+06,262268.000000,2.859392e+06,2.859392e+06,2.859392e+06,2.859392e+06,2.859392e+06,2.859392e+06,2.859392e+06,...,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06,2.860784e+06
mean,1.834354e+03,5.466243e+00,109.872508,3.265258e+01,-4.960786e+00,3.587758e+00,3.168417e+00,-4.889420e+00,3.584267e+00,3.349479e+00,...,8.635143e-03,-3.450122e-02,7.752030e-03,-3.272102e+01,1.593304e+00,1.689044e+01,3.986417e-01,2.154835e-02,3.091533e-01,-1.878725e-02
std,1.105689e+03,6.331333e+00,25.870036,1.844274e+00,5.985029e+00,6.277838e+00,3.843923e+00,5.992726e+00,6.055750e+00,3.840650e+00,...,1.073556e+00,5.966026e-01,1.842552e+00,1.887860e+01,2.161181e+01,2.030858e+01,3.034561e-01,5.691302e-01,3.237875e-01,4.731373e-01
min,5.640000e+00,0.000000e+00,57.000000,2.475000e+01,-1.453670e+02,-1.043010e+02,-1.014520e+02,-6.148950e+01,-6.186800e+01,-6.193470e+01,...,-2.399500e+01,-1.812690e+01,-1.401960e+01,-1.728650e+02,-1.379080e+02,-1.092890e+02,-2.536280e-01,-9.568760e-01,-8.768380e-01,-9.972810e-01
25%,8.931600e+02,0.000000e+00,90.000000,3.143750e+01,-9.028420e+00,1.290268e+00,9.685817e-01,-8.933270e+00,1.284680e+00,1.164040e+00,...,-1.526250e-01,-8.267092e-02,-3.084595e-01,-4.289480e+01,-1.148540e+01,3.289347e+00,1.563440e-01,-5.839910e-01,1.087023e-02,-5.047580e-01
50%,1.790830e+03,3.000000e+00,108.000000,3.312500e+01,-5.788145e+00,3.570830e+00,2.958415e+00,-5.737615e+00,3.613430e+00,3.132855e+00,...,4.251595e-03,-4.249850e-03,-2.216015e-03,-3.390020e+01,1.362615e+00,1.809105e+01,3.197555e-01,0.000000e+00,3.043820e-01,0.000000e+00
75%,2.710570e+03,7.000000e+00,125.000000,3.400000e+01,-7.829420e-01,6.602720e+00,6.002930e+00,-7.249920e-01,6.601960e+00,6.257612e+00,...,9.464213e-02,8.296868e-02,6.343258e-02,-1.905920e+01,1.733090e+01,3.087820e+01,5.794420e-01,6.279450e-01,6.020032e-01,4.634433e-01
max,4.475630e+03,2.400000e+01,202.000000,3.550000e+01,6.285960e+01,1.556990e+02,1.577600e+02,5.282140e+01,6.225980e+01,6.194460e+01,...,1.742040e+01,1.358820e+01,1.652880e+01,9.752550e+01,1.233060e+02,1.469000e+02,1.000000e+00,9.595380e-01,9.923540e-01,9.961050e-01

## Renaming the columns with proper names

In [62]:
all_subject_df = all_subject_df.rename(index=str, columns={0: "Timestamp", 1: "ActivityID", 2: "HeartRate", 3:"IMU_Hand_temperature", 4:"IMU_Hand_3D-acc_16g_1", 5:"IMU_Hand_3D-acc_16g_2", 6:"IMU_Hand_3D-acc_16g_3", 7:"IMU_Hand_3D-acc_6g_1", 8:"IMU_Hand_3D-acc_6g_2", 9:"IMU_Hand_3D-acc_6g_3", 10:"IMU_Hand_3D-gyroscope_1", 11:"IMU_Hand_3D-gyroscope_2", 12:"IMU_Hand_3D-gyroscope_3", 13:"IMU_Hand_3D-magnetometer_1", 14:"IMU_Hand_3D-magnetometer_2", 15:"IMU_Hand_3D-magnetometer_3", 16:"IMU_Hand_orientation_1", 17:"IMU_Hand_orientation_2", 18:"IMU_Hand_orientation_3", 19:"IMU_Hand_orientation_4",20:"IMU_Chest_temperature", 21:"IMU_Chest_3D-acc_16g_1", 22:"IMU_Chest_3D-acc_16g_2", 23:"IMU_Chest_3D-acc_16g_3", 24:"IMU_Chest_3D-acc_6g_1", 25:"IMU_Chest_3D-acc_6g_2", 26:"IMU_Chest_3D-acc_6g_3", 27:"IMU_Chest_3D-gyroscope_1", 28:"IMU_Chest_3D-gyroscope_2", 29:"IMU_Chest_3D-gyroscope_3", 30:"IMU_Chest_3D-magnetometer_1", 31:"IMU_Chest_3D-magnetometer_2", 32:"IMU_Chest_3D-magnetometer_3", 33:"IMU_Chest_orientation_1", 34:"IMU_Chest_orientation_2", 35:"IMU_Chest_orientation_3", 36:"IMU_Chest_orientation_4",37:"IMU_Ankle_temperature", 38:"IMU_Ankle_3D-acc_16g_1", 39:"IMU_Ankle_3D-acc_16g_2", 40:"IMU_Ankle_3D-acc_16g_3", 41:"IMU_Ankle_3D-acc_6g_1", 42:"IMU_Ankle_3D-acc_6g_2", 43:"IMU_Ankle_3D-acc_6g_3", 44:"IMU_Ankle_3D-gyroscope_1", 45:"IMU_Ankle_3D-gyroscope_2", 46:"IMU_Ankle_3D-gyroscope_3", 47:"IMU_Ankle_3D-magnetometer_1", 48:"IMU_Ankle_3D-magnetometer_2", 49:"IMU_Ankle_3D-magnetometer_3", 50:"IMU_Ankle_orientation_1", 51:"IMU_Ankle_orientation_2", 52:"IMU_Ankle_orientation_3", 53:"IMU_Ankle_orientation_4"})

In [63]:
all_subject_df.head()

,Timestamp,ActivityID,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,...,IMU_Ankle_3D-gyroscope_2,IMU_Ankle_3D-gyroscope_3,IMU_Ankle_3D-magnetometer_1,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,subject_id
0,5.89,0,NaN,33.3125,-9.79760,-1.45670,1.014380,-9.70702,-1.60337,1.32098,...,0.010364,0.010731,-35.4550,38.3829,-17.9083,0.546211,0.370903,0.695334,0.283892,subject108
1,5.90,0,NaN,33.3125,-9.91204,-1.41822,0.974050,-9.78262,-1.60285,1.29085,...,-0.005926,-0.006704,-35.4508,38.2543,-17.7663,0.545806,0.370867,0.695680,0.283872,subject108
2,5.91,0,NaN,33.3125,-9.87531,-1.57027,0.975113,-9.78237,-1.57265,1.29079,...,-0.002265,0.014646,-35.6984,38.2688,-17.0580,0.545484,0.371607,0.695437,0.284117,subject108
3,5.92,0,NaN,33.3125,-9.72175,-1.60870,1.054520,-9.70677,-1.60334,1.35118,...,0.035314,0.010983,-34.9492,38.7447,-17.6233,0.545474,0.372077,0.694859,0.284935,subject108
4,5.93,0,NaN,33.3125,-9.79920,-1.49497,0.975999,-9.58657,-1.57408,1.27549,...,-0.001065,-0.000410,-35.2105,38.8857,-17.9080,0.545810,0.372349,0.694122,0.285732,subject108

## Remove rows with ActivityID = 0 (Arbitrary activity)

In [64]:
all_subject_df = all_subject_df[all_subject_df['ActivityID'] != 0] #re

In [65]:
all_subject_df.shape

(1942872, 55)

In [66]:
all_subject_df['ActivityID'].value_counts()

4     238761
17    238690
1     192523
3     189931
7     188107
2     185188
16    175353
6     164600
12    117216
13    104944
5      98199
24     49360
Name: ActivityID, dtype: int64

In [67]:
all_subject_df.describe()

,Timestamp,ActivityID,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,...,IMU_Ankle_3D-gyroscope_1,IMU_Ankle_3D-gyroscope_2,IMU_Ankle_3D-gyroscope_3,IMU_Ankle_3D-magnetometer_1,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4
count,1.942872e+06,1.942872e+06,177408.000000,1.931748e+06,1.931748e+06,1.931748e+06,1.931748e+06,1.931748e+06,1.931748e+06,1.931748e+06,...,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06,1.934365e+06
mean,1.705202e+03,8.081830e+00,107.468502,3.275752e+01,-4.938311e+00,3.580308e+00,3.609347e+00,-4.871064e+00,3.569088e+00,3.794033e+00,...,1.062149e-02,-3.676710e-02,7.725809e-03,-3.156858e+01,1.414712e+00,1.724289e+01,3.811172e-01,-9.125905e-03,3.022156e-01,-5.725826e-02
std,1.093463e+03,6.174789e+00,26.977609,1.791983e+00,6.231142e+00,6.887907e+00,3.960176e+00,6.237104e+00,6.586273e+00,3.946330e+00,...,1.126987e+00,6.380790e-01,2.011906e+00,1.835626e+01,2.168850e+01,1.972172e+01,3.037064e-01,5.713763e-01,3.328310e-01,4.801762e-01
min,3.120000e+01,1.000000e+00,57.000000,2.487500e+01,-1.453670e+02,-1.043010e+02,-1.014520e+02,-6.121470e+01,-6.184170e+01,-6.193470e+01,...,-2.399500e+01,-1.812690e+01,-1.401960e+01,-1.728650e+02,-1.379080e+02,-1.027160e+02,1.521280e-06,-9.568760e-01,-8.768380e-01,-9.972810e-01
25%,7.445400e+02,3.000000e+00,86.000000,3.168750e+01,-8.955800e+00,1.048068e+00,1.161655e+00,-8.854415e+00,1.047087e+00,1.363960e+00,...,-2.062960e-01,-1.063010e-01,-4.368720e-01,-4.170720e+01,-1.245170e+01,3.761730e+00,1.425700e-01,-6.131970e-01,4.887220e-03,-5.383480e-01
50%,1.480330e+03,6.000000e+00,104.000000,3.318750e+01,-5.426670e+00,3.523155e+00,3.441330e+00,-5.353635e+00,3.562085e+00,3.672370e+00,...,4.666780e-03,-3.971010e-03,-2.243400e-03,-3.397750e+01,8.009720e-01,1.875760e+01,2.836520e-01,0.000000e+00,3.051780e-01,0.000000e+00
75%,2.663610e+03,1.300000e+01,124.000000,3.406250e+01,-9.430042e-01,6.454320e+00,6.538525e+00,-8.922058e-01,6.458670e+00,6.787760e+00,...,1.307210e-01,1.154390e-01,9.160350e-02,-1.787670e+01,1.785610e+01,3.120870e+01,5.600100e-01,6.151050e-01,5.963040e-01,4.382980e-01
max,4.245680e+03,2.400000e+01,202.000000,3.550000e+01,6.285960e+01,1.556990e+02,1.577600e+02,5.282140e+01,6.225980e+01,6.192340e+01,...,1.742040e+01,1.358820e+01,1.652880e+01,9.155160e+01,9.424780e+01,1.469000e+02,1.000000e+00,9.595380e-01,9.514820e-01,9.961050e-01

In [68]:
all_subject_df.head()

,Timestamp,ActivityID,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,...,IMU_Ankle_3D-gyroscope_2,IMU_Ankle_3D-gyroscope_3,IMU_Ankle_3D-magnetometer_1,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,subject_id
6147,67.36,1,84.0,33.8125,-9.64938,-1.68584,0.978888,-9.46791,-1.68076,1.15480,...,-0.058976,0.001427,-34.9285,37.8429,-17.4803,0.551748,0.371357,0.693585,0.276781,subject108
6148,67.37,1,NaN,33.8125,-9.80348,-1.72328,0.899731,-9.46778,-1.74110,1.23043,...,0.020064,-0.008885,-34.9496,38.6152,-17.9068,0.551698,0.371484,0.693471,0.276996,subject108
6149,67.38,1,NaN,33.8125,-9.65232,-1.53509,0.862873,-9.46854,-1.75627,1.15496,...,0.020882,-0.019795,-35.5699,37.4857,-18.4750,0.551888,0.371094,0.693512,0.277036,subject108
6150,67.39,1,NaN,33.8125,-9.65045,-1.64823,0.940257,-9.49956,-1.78632,1.07956,...,-0.003075,-0.013015,-35.4679,38.7685,-18.3343,0.551830,0.371118,0.693494,0.277167,subject108
6151,67.40,1,NaN,33.8125,-9.54564,-1.53764,0.672043,-9.48260,-1.66553,1.18498,...,-0.009872,0.032670,-35.4625,38.5107,-18.3340,0.551878,0.371197,0.693445,0.277089,subject108

## Interpolating the HeartBeat values to handle missing values

In [69]:
all_subject_df['HeartRate'] = all_subject_df['HeartRate'].interpolate()

In [70]:
all_subject_df.head()

,Timestamp,ActivityID,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,...,IMU_Ankle_3D-gyroscope_2,IMU_Ankle_3D-gyroscope_3,IMU_Ankle_3D-magnetometer_1,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,subject_id
6147,67.36,1,84.0,33.8125,-9.64938,-1.68584,0.978888,-9.46791,-1.68076,1.15480,...,-0.058976,0.001427,-34.9285,37.8429,-17.4803,0.551748,0.371357,0.693585,0.276781,subject108
6148,67.37,1,84.0,33.8125,-9.80348,-1.72328,0.899731,-9.46778,-1.74110,1.23043,...,0.020064,-0.008885,-34.9496,38.6152,-17.9068,0.551698,0.371484,0.693471,0.276996,subject108
6149,67.38,1,84.0,33.8125,-9.65232,-1.53509,0.862873,-9.46854,-1.75627,1.15496,...,0.020882,-0.019795,-35.5699,37.4857,-18.4750,0.551888,0.371094,0.693512,0.277036,subject108
6150,67.39,1,84.0,33.8125,-9.65045,-1.64823,0.940257,-9.49956,-1.78632,1.07956,...,-0.003075,-0.013015,-35.4679,38.7685,-18.3343,0.551830,0.371118,0.693494,0.277167,subject108
6151,67.40,1,84.0,33.8125,-9.54564,-1.53764,0.672043,-9.48260,-1.66553,1.18498,...,-0.009872,0.032670,-35.4625,38.5107,-18.3340,0.551878,0.371197,0.693445,0.277089,subject108

## Exporting the dataframe to a csv file
Commented because of the processing time

In [71]:
# all_subject_df.to_csv("complete_dataset.csv")

In [1]:
all_subject_df.shape

NameError: name 'all_subject_df' is not defined

In [73]:
#read additional info
additional_subject_df = pd.DataFrame()
additional_subject_df = pd.read_csv("PAMAP2_Dataset/subject_info.csv") #subject_info.csv path
additional_subject_df

,subject_id,Sex,Age(years),Height(cm),Weight(kg),Resting HR(bpm),Max HR(bpm),Dominant_hand
0,subject101,Male,27,182,83,75,193,right
1,subject102,Female,25,169,78,74,195,right
2,subject103,Male,31,187,92,68,189,right
3,subject104,Male,24,194,95,58,196,right
4,subject105,Male,26,180,73,70,194,right
5,subject106,Male,26,183,69,60,194,right
6,subject107,Male,23,173,86,60,197,right
7,subject108,Male,32,179,87,66,188,left
8,subject109,Male,31,168,65,54,189,right

In [74]:
#merge additional info with existing dataframe
extended_df = pd.merge(all_subject_df, additional_subject_df, on='subject_id', how='left')

In [75]:
extended_df.head()

,Timestamp,ActivityID,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,...,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,subject_id,Sex,Age(years),Height(cm),Weight(kg),Resting HR(bpm),Max HR(bpm),Dominant_hand
0,67.36,1,84.0,33.8125,-9.64938,-1.68584,0.978888,-9.46791,-1.68076,1.15480,...,0.693585,0.276781,subject108,Male,32,179,87,66,188,left
1,67.37,1,84.0,33.8125,-9.80348,-1.72328,0.899731,-9.46778,-1.74110,1.23043,...,0.693471,0.276996,subject108,Male,32,179,87,66,188,left
2,67.38,1,84.0,33.8125,-9.65232,-1.53509,0.862873,-9.46854,-1.75627,1.15496,...,0.693512,0.277036,subject108,Male,32,179,87,66,188,left
3,67.39,1,84.0,33.8125,-9.65045,-1.64823,0.940257,-9.49956,-1.78632,1.07956,...,0.693494,0.277167,subject108,Male,32,179,87,66,188,left
4,67.40,1,84.0,33.8125,-9.54564,-1.53764,0.672043,-9.48260,-1.66553,1.18498,...,0.693445,0.277089,subject108,Male,32,179,87,66,188,left

## Extracting labels from the dataset

In [76]:
labels = all_subject_df['ActivityID']

In [77]:
labels.shape

(1942872,)

## Exporting labels

In [129]:
labels.to_csv("labels.csv")

## Remove unnecessary features

In [78]:
reduced_df = extended_df.drop(['Timestamp', 'ActivityID', 'subject_id', 'Sex', 'subject_id' , 'Dominant_hand', 'Max HR(bpm)'], axis=1)

In [89]:
reduced_df.head()

,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,IMU_Hand_3D-gyroscope_1,IMU_Hand_3D-gyroscope_2,...,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,Age(years),Height(cm),Weight(kg),Resting HR(bpm)
0,84.0,33.8125,-9.64938,-1.68584,0.978888,-9.46791,-1.68076,1.15480,-0.008240,-0.029004,...,37.8429,-17.4803,0.551748,0.371357,0.693585,0.276781,32,179,87,66
1,84.0,33.8125,-9.80348,-1.72328,0.899731,-9.46778,-1.74110,1.23043,0.054293,-0.001861,...,38.6152,-17.9068,0.551698,0.371484,0.693471,0.276996,32,179,87,66
2,84.0,33.8125,-9.65232,-1.53509,0.862873,-9.46854,-1.75627,1.15496,0.000324,-0.042501,...,37.4857,-18.4750,0.551888,0.371094,0.693512,0.277036,32,179,87,66
3,84.0,33.8125,-9.65045,-1.64823,0.940257,-9.49956,-1.78632,1.07956,0.009701,-0.012660,...,38.7685,-18.3343,0.551830,0.371118,0.693494,0.277167,32,179,87,66
4,84.0,33.8125,-9.54564,-1.53764,0.672043,-9.48260,-1.66553,1.18498,-0.026993,-0.003300,...,38.5107,-18.3340,0.551878,0.371197,0.693445,0.277089,32,179,87,66

In [90]:
reduced_df.shape

(1942872, 56)

## Interpolate

In [83]:
for i in list(reduced_df.columns):
    reduced_df[i] = reduced_df[i].interpolate()

In [84]:
np.any(np.isnan(reduced_df))

False

In [85]:
reduced_df.shape

(1942872, 56)

## Export classification ready data to csv

In [86]:
reduced_df.to_csv("preprocessed_data.csv")