In [2]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
svd_df = pd.read_csv("preprocessed_data_SVD.csv",header=None)
pca_df = pd.read_csv("preprocessed_data_PCA.csv",header=None)
labels_df = pd.read_csv("labels.csv", header=None)

In [5]:
svd_df=(svd_df-svd_df.mean())/svd_df.std()

In [9]:
pca_df=(pca_df-pca_df.mean())/pca_df.std()
labels = labels_df.iloc[:,1]

In [10]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(
    svd_df, labels, test_size=0.25, random_state=42)

In [11]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(
    pca_df, labels, test_size=0.25, random_state=42)

In [12]:
X_test_1.to_csv("X_test_svd.csv")
y_test_1.to_csv("y_test_svd.csv")

In [13]:
X_test_2.to_csv("X_test_pca.csv")
y_test_2.to_csv("y_test_pca.csv")

In [14]:
y_test_1.columns = ['index','activityId']
y_test_2.columns = ['index','activityId']

In [15]:
type(X_test_1)

pandas.core.frame.DataFrame

In [16]:
joined_df_svd = pd.concat([y_test_1.rename('activityId'), X_test_1], axis=1)
joined_df_pca = pd.concat([y_test_2.rename('activityId'), X_test_2], axis=1)

In [17]:
joined_df_svd.head()

,activityId,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
787813,2,-0.183786,-0.457779,0.260047,-1.189766,-0.931734,-0.054773,-0.128381,0.743856,0.178515,1.018924,0.449437,-0.315678,-0.705208,-0.854053,-1.083662
1306595,3,0.748452,-1.099224,1.352498,3.147402,-0.115478,0.722060,1.177504,-1.754692,-0.812927,0.545074,0.190060,0.062701,-0.039619,0.323339,-0.415683
1126937,12,-0.437120,0.326394,-0.501451,-0.795272,-0.630120,0.597690,-3.070187,-0.227367,-0.007314,0.179746,-0.001779,1.103379,0.017482,2.776103,-0.299496
262971,24,-0.348079,0.951896,0.435529,1.183019,-1.167140,-1.737951,-0.677712,0.471008,-0.670432,-0.723341,-0.066268,-0.174825,-2.431240,0.473842,0.084579
381687,16,-0.818748,0.357149,-0.374139,-0.864511,0.895696,-0.200420,2.043204,-1.390547,-0.614810,0.725895,0.059098,0.800117,-1.288961,0.235100,-0.415948

In [18]:
joined_df_svd.describe()

,activityId,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000,485718.000000
mean,8.080652,0.001229,0.001466,-0.002537,0.000821,-0.001479,-0.000025,0.001075,-0.002007,-0.001008,0.002230,0.000380,-0.000349,0.000815,-0.000173,-0.002238
std,6.169335,1.000512,1.000038,1.000168,1.000588,0.999238,0.998717,1.000020,0.999751,1.001186,1.001608,1.000966,0.999222,1.003044,0.995262,0.999037
min,1.000000,-2.453452,-3.038172,-4.404675,-5.970011,-5.338952,-4.465791,-4.709966,-7.199320,-5.025211,-6.623942,-8.130691,-12.853274,-8.513089,-11.394103,-9.113281
25%,3.000000,-0.682163,-0.500852,-0.737330,-0.692221,-0.630320,-0.554990,-0.574559,-0.538308,-0.624432,-0.641000,-0.559601,-0.432932,-0.597858,-0.546986,-0.657120
50%,6.000000,-0.017644,0.085866,-0.017139,-0.017574,-0.110398,0.023490,0.047116,-0.051943,0.022073,0.001686,-0.001585,0.042224,0.012400,0.013523,0.070177
75%,13.000000,0.720557,0.623500,0.637384,0.600786,0.578393,0.637968,0.596784,0.589010,0.658324,0.632693,0.505784,0.506807,0.574347,0.561338,0.665430
max,24.000000,4.236391,4.800348,4.921695,6.567497,5.505500,6.610758,7.365940,7.478966,5.890501,7.405756,9.547590,14.107682,13.447898,7.917331,11.071416

In [19]:
test_file = "ActivityDatasets/PCA/test_pca_activity_"
test_label = "ActivityDatasets/PCA/test_pca_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/PCA/test_pca_activity_"+str(i)
    test_label = "ActivityDatasets/PCA/test_pca_label_"+str(i)
    temp = joined_df_pca[joined_df_pca['activityId']==i][:100]
    if len(temp) > 50:
        temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
        temp['activityId'].to_csv(test_label+".csv", index=False, header = None)

In [20]:
test_file = "ActivityDatasets/SVD/test_svd_activity_"
test_label = "ActivityDatasets/SVD/test_svd_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/SVD/test_svd_activity_"+str(i)
    test_label = "ActivityDatasets/SVD/test_svd_label_"+str(i)
    temp = joined_df_svd[joined_df_svd['activityId']==i][:100]
    if len(temp) > 50:
        temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
        temp['activityId'].to_csv(test_label+".csv", index=False, header = None)