In [6]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time

In [7]:
df = pd.read_csv('preprocessed_data_PCA.csv',header=None)

In [8]:
normalized_df=(df-df.mean())/df.std()

In [9]:
labels = pd.read_csv("labels.csv", header=None)

In [10]:
y = labels[1]

In [11]:
labels.columns = ['index', 'activityId']

In [12]:
joined_df = pd.concat([labels['activityId'], normalized_df], axis=1)

In [13]:
joined_df.head()

,activityId,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,0.023756,-0.994217,-0.750397,0.998290,0.531280,2.710502,1.527895,-1.862563,2.080869,-0.577647,-0.226874,1.032705,-0.950490,-0.306580,0.124180
1,1,0.013011,-1.003401,-0.741872,1.011036,0.524166,2.751909,1.517070,-1.866640,2.070763,-0.603825,-0.254099,1.001155,-0.915486,-0.291528,0.152367
2,1,0.017446,-1.004373,-0.739000,0.975989,0.535789,2.757314,1.586047,-1.784218,2.016240,-0.612713,-0.265761,0.940009,-0.870348,-0.250761,0.157899
3,1,0.001485,-0.995970,-0.730493,1.001810,0.506594,2.763606,1.546250,-1.875210,2.040831,-0.646427,-0.285029,0.965322,-0.845971,-0.266271,0.177173
4,1,0.023631,-0.993785,-0.735768,0.978849,0.517952,2.770189,1.528151,-1.906139,2.070401,-0.633438,-0.273722,1.001450,-0.890759,-0.298476,0.132994

In [32]:
test_file = "ActivityDatasets/test_pca_activity_"
test_label = "ActivityDatasets/test_pca_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/test_pca_activity_"+str(i)
    test_label = "ActivityDatasets/test_pca_label_"+str(i)
    temp = joined_df[joined_df['activityId']==i][:200]
    temp[temp.columns[1:]].to_csv(test_file+".csv")
    temp['activityId'].to_csv(test_label+".csv")

In [1]:
# joined_df[joined_df['activityId']==joined_df['activityId'].max()]

In [20]:
# temp = joined_df[joined_df['activityId']==1][:20]

In [23]:
# temp[temp.columns[1:]].to_csv("test_activity.csv")

In [33]:
# temp['activityId']

In [17]:
# joined_df[joined_df.columns[1:]]

In [34]:
svd_df = pd.read_csv('preprocessed_data_SVD.csv',header=None)

In [35]:
svd_normalized_df=(svd_df-svd_df.mean())/svd_df.std()

In [36]:
svd_joined_df = pd.concat([labels['activityId'], svd_normalized_df], axis=1)

In [37]:
test_file = "ActivityDatasets/SVD/test_svd_activity_"
test_label = "ActivityDatasets/SVD/test_svd_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/SVD/test_svd_activity_"+str(i)
    test_label = "ActivityDatasets/SVD/test_svd_label_"+str(i)
    temp = svd_joined_df[svd_joined_df['activityId']==i][:200]
    temp[temp.columns[1:]].to_csv(test_file+".csv")
    temp['activityId'].to_csv(test_label+".csv")