In [16]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time

In [17]:
pca_df = pd.read_csv('preprocessed_data_PCA.csv',header=None)

In [ ]:
normalized_pca_df=(pca_df-pca_df.mean())/pca_df.std()

In [3]:
normalized_pca_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405725,23.781513,-5.840281,-2.202161,9.618831,-7.817354,-2.326413,0.830279
1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324971,-7.529464,-2.212197,1.018723
2,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755439,-7.158226,-1.902848,1.055714
3,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535679,-2.766648,8.991217,-6.957730,-2.020537,1.184568
4,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404352,-2.656896,9.327715,-7.326091,-2.264919,0.889200

In [4]:
#normalized_df=(df-df.mean())/df.std()

In [18]:
labels = pd.read_csv("labels.csv", header=None)

In [19]:
y = labels[1]

In [20]:
labels.columns = ['index', 'activityId']

In [21]:
joined_df = pd.concat([labels['activityId'], normalized_pca_df], axis=1)

In [22]:
joined_df.head()

,activityId,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405725,23.781513,-5.840281,-2.202161,9.618831,-7.817354,-2.326413,0.830279
1,1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324971,-7.529464,-2.212197,1.018723
2,1,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755439,-7.158226,-1.902848,1.055714
3,1,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535679,-2.766648,8.991217,-6.957730,-2.020537,1.184568
4,1,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404352,-2.656896,9.327715,-7.326091,-2.264919,0.889200

In [23]:
joined_df['activityId'].value_counts()

4     238761
17    238690
1     192523
3     189931
7     188107
2     185188
16    175353
6     164600
12    117216
13    104944
5      98199
24     49360
Name: activityId, dtype: int64

In [25]:
test_file = "ActivityDatasets/PCA/test_pca_activity_"
test_label = "ActivityDatasets/PCA/test_pca_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/PCA/test_pca_activity_"+str(i)
    test_label = "ActivityDatasets/PCA/test_pca_label_"+str(i)

    temp = joined_df[joined_df['activityId']==i][:100]
    if len(temp) > 50:
        temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
        temp['activityId'].to_csv(test_label+".csv", index=False, header = None)

In [1]:
# joined_df[joined_df['activityId']==joined_df['activityId'].max()]

In [20]:
# temp = joined_df[joined_df['activityId']==1][:20]

In [23]:
# temp[temp.columns[1:]].to_csv("test_activity.csv")

In [33]:
# temp['activityId']

In [17]:
# joined_df[joined_df.columns[1:]]

In [12]:
svd_df = pd.read_csv('preprocessed_data_SVD.csv',header=None)

In [13]:
svd_normalized_df=(svd_df-svd_df.mean())/svd_df.std()

In [14]:
svd_joined_df = pd.concat([labels['activityId'], svd_df], axis=1)

In [15]:
test_file = "ActivityDatasets/SVD/test_svd_activity_"
test_label = "ActivityDatasets/SVD/test_svd_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/SVD/test_svd_activity_"+str(i)
    test_label = "ActivityDatasets/SVD/test_svd_label_"+str(i)
    temp = svd_joined_df[svd_joined_df['activityId']==i][:100]
    if len(temp) > 50:
        temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
        temp['activityId'].to_csv(test_label+".csv", index=False, header = None)