In [5]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
svd_df = pd.read_csv("Data/preprocessed_data_SVD.csv",header=None)
pca_df = pd.read_csv("Data/preprocessed_data_PCA.csv",header=None)
labels_df = pd.read_csv("Data/labels.csv", header=None)

In [18]:
svd_df=(svd_df-svd_df.mean())/svd_df.std()

In [12]:
pca_df=(pca_df-pca_df.mean())/pca_df.std()
labels = labels_df.iloc[:,1]

In [19]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(
    svd_df, labels, test_size=0.25, random_state=42)

In [14]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(
    pca_df, labels, test_size=0.25, random_state=42)

In [20]:
X_test_1.to_csv("X_test_svd.csv")
y_test_1.to_csv("y_test_svd.csv")

In [16]:
X_test_2.to_csv("X_test_pca.csv")
y_test_2.to_csv("y_test_pca.csv")

In [53]:
y_test_1.columns = ['index','activityId']
y_test_2.columns = ['index','activityId']

In [59]:
type(X_test_1)

pandas.core.frame.DataFrame

In [60]:
joined_df_svd = pd.concat([y_test_1.rename('activityId'), X_test_1], axis=1)
joined_df_pca = pd.concat([y_test_2.rename('activityId'), X_test_2], axis=1)

In [61]:
joined_df_svd.head()

,activityId,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
787813,16,-0.183786,-0.457779,0.260047,-1.189766,-0.931734,-0.054773,-0.128381,0.743856,0.178515,1.018924,0.449437,-0.315678,-0.705208,-0.854053,-1.083662
1306595,16,0.748452,-1.099224,1.352498,3.147402,-0.115478,0.722060,1.177504,-1.754692,-0.812927,0.545074,0.190060,0.062701,-0.039619,0.323339,-0.415683
1126937,7,-0.437120,0.326394,-0.501451,-0.795272,-0.630120,0.597690,-3.070187,-0.227367,-0.007314,0.179746,-0.001779,1.103379,0.017482,2.776103,-0.299496
262971,1,-0.348079,0.951896,0.435529,1.183019,-1.167140,-1.737951,-0.677712,0.471008,-0.670432,-0.723341,-0.066268,-0.174825,-2.431240,0.473842,0.084579
381687,13,-0.818748,0.357149,-0.374139,-0.864511,0.895696,-0.200420,2.043204,-1.390547,-0.614810,0.725895,0.059098,0.800117,-1.288961,0.235100,-0.415948

In [66]:
test_file = "ActivityDatasets/PCA/test_pca_activity_"
test_label = "ActivityDatasets/PCA/test_pca_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/PCA/test_pca_activity_"+str(i)
    test_label = "ActivityDatasets/PCA/test_pca_label_"+str(i)
    temp = joined_df_pca[joined_df_pca['activityId']==i][:100]
    temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
    temp['activityId'].to_csv(test_label+".csv", index=False, header = None)

In [67]:
test_file = "ActivityDatasets/SVD/test_svd_activity_"
test_label = "ActivityDatasets/SVD/test_svd_label_"

for i in range(1, 25):
    test_file = "ActivityDatasets/SVD/test_svd_activity_"+str(i)
    test_label = "ActivityDatasets/SVD/test_svd_label_"+str(i)
    temp = joined_df_svd[joined_df_svd['activityId']==i][:100]
    temp[temp.columns[1:]].to_csv(test_file+".csv", index=False, header = None)
    temp['activityId'].to_csv(test_label+".csv", index=False, header = None)