In [1]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
svd_df = pd.read_csv("preprocessed_data_SVD.csv",header=None)

In [3]:
svd_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,241.065407,4.568325,-29.462353,-16.344498,21.554520,8.727630,46.992144,-21.437557,-27.379202,24.916987,-6.506860,4.952574,-9.031316,3.972765,-0.521677
1,241.005587,4.138426,-29.741656,-16.198781,21.835562,8.575280,47.714613,-21.275756,-27.438019,24.804485,-6.779410,4.581905,-8.762475,3.773299,-0.523821
2,241.073656,4.292379,-29.770200,-16.070736,21.125088,8.825954,47.850472,-22.349457,-26.336326,24.138650,-6.850718,4.128201,-8.337516,3.462832,-0.352323
3,240.909646,3.684386,-29.524516,-15.926641,21.675685,8.243264,47.916351,-21.702392,-27.591276,24.469207,-7.219079,4.170502,-8.284885,3.365185,-0.576131
4,241.038717,4.556688,-29.451037,-15.879348,21.266759,8.466058,48.033721,-21.416052,-28.020814,24.825513,-7.094547,4.461557,-8.635757,3.677593,-0.646860

In [4]:
pca_df = pd.read_csv("preprocessed_data_PCA.csv",header=None)

In [5]:
pca_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405725,23.781513,-5.840281,-2.202161,9.618831,-7.817354,-2.326413,0.830279
1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324971,-7.529464,-2.212197,1.018723
2,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755439,-7.158226,-1.902848,1.055714
3,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535679,-2.766648,8.991217,-6.957730,-2.020537,1.184568
4,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404352,-2.656896,9.327715,-7.326091,-2.264919,0.889200

In [6]:
pca_df=(pca_df-pca_df.mean())/pca_df.std()

In [7]:
svd_df=(svd_df-svd_df.mean())/svd_df.std()

In [8]:
labels_df = pd.read_csv("./dataset/labels.csv", header=None)

In [9]:
labels = labels_df.iloc[:,1]

In [10]:
# Split SVD data
X_train, X_test, Y_train, Y_test = train_test_split(
    svd_df, labels, test_size=0.25, random_state=42)

In [15]:
# Split PCA data
X_train, X_test, Y_train, Y_test = train_test_split(
    pca_df, labels, test_size=0.25, random_state=42)

In [16]:
lr_clf = LogisticRegression(solver='lbfgs', multi_class='multinomial', C=0.01, n_jobs=2).fit(X_train, Y_train)

In [17]:
predicted_values = lr_clf.predict(X_test)

In [18]:
accuracy_score(Y_test, predicted_values)

0.7050201969043766

In [19]:
import pickle
pickle.dump(lr_clf, open("LR_PCA.pkl", "wb"))

In [50]:
lr_clf_saved = pickle.load(open("LR_SVD.pkl", "rb"))

predicted_values = lr_clf_saved.predict(X_test)
accuracy_score(Y_test, predicted_values)

0.6896635496316793

In [96]:
Y_test

787813      2
1306595     3
1126937    12
262971     24
381687     16
1157157     4
233888      7
1705772     7
816120      3
43602       2
848422     17
645119     12
861825     16
829704     17
1504240    24
292558      1
1852700    17
956252      7
1731502     6
615371     16
440649      4
1718407     7
566590      3
1078994    17
1873258    16
1714023     7
1798901     2
1030190     2
469436      7
1775582     1
           ..
1127949    12
956647      7
534590      2
88094      17
1795181     2
835771     17
785598      2
438101      4
1365823    16
1073953    17
794450      2
1834567     3
1844634    17
1004713     1
1285642     2
1461525     6
568503      3
711203      6
1365992    16
1272820     1
361158     17
1369101    16
1629283    12
554153      3
1586359    17
25388       2
1140525     4
1274172     1
188155      6
40438       2
Name: 1, Length: 485718, dtype: int64

In [99]:
print(y_test[43602])
print(y_test[787813])

2
2

In [85]:
X_test.shape

(485718, 15)

In [92]:
#data = X_test.iloc['1306595']

X_test.loc[[1306595]]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1306595,-0.754126,1.385205,3.131709,-0.578414,0.776814,1.248185,1.799853,-0.807187,0.509279,0.214607,-0.140136,0.25049,0.024317,-0.583289,-0.419205

In [101]:
Y_test.sort_values(ascending=True)

1522202     1
772589      1
754269      1
1516961     1
1266903     1
504536      1
1274671     1
1005902     1
1271805     1
1770790     1
984640      1
1505632     1
1769691     1
752666      1
1526671     1
762418      1
1508071     1
1508449     1
1779978     1
272737      1
985326      1
270824      1
16172       1
984510      1
1508604     1
519027      1
1262173     1
522364      1
287593      1
1271092     1
           ..
1504166    24
1247638    24
1492318    24
1251465    24
1252845    24
1499561    24
1755603    24
260232     24
267342     24
1253005    24
1756435    24
1762051    24
1767912    24
1495580    24
263279     24
1504028    24
262721     24
263582     24
1766885    24
258849     24
255585     24
1755572    24
1767333    24
266173     24
1764867    24
256732     24
257627     24
259287     24
257989     24
265984     24
Name: 1, Length: 485718, dtype: int64