In [1]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
df = pd.read_csv('preprocessed_data_SVD.csv',header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,241.065407,4.568325,-29.462353,-16.344498,21.554520,8.727630,46.992144,-21.437557,-27.379202,24.916987,-6.506860,4.952574,-9.031316,3.972765,-0.521674
1,241.005587,4.138426,-29.741656,-16.198781,21.835562,8.575280,47.714613,-21.275756,-27.438019,24.804485,-6.779410,4.581905,-8.762475,3.773300,-0.523819
2,241.073656,4.292379,-29.770200,-16.070736,21.125088,8.825954,47.850472,-22.349457,-26.336326,24.138650,-6.850718,4.128201,-8.337516,3.462833,-0.352320
3,240.909646,3.684386,-29.524516,-15.926641,21.675685,8.243264,47.916351,-21.702392,-27.591276,24.469207,-7.219079,4.170502,-8.284885,3.365185,-0.576128
4,241.038717,4.556688,-29.451037,-15.879348,21.266759,8.466058,48.033721,-21.416052,-28.020814,24.825513,-7.094547,4.461557,-8.635757,3.677594,-0.646857

In [4]:
labels = pd.read_csv("labels.csv", header=None)

In [5]:
labels.head()

      0  1
0  6147  1
1  6148  1
2  6149  1
3  6150  1
4  6151  1

In [6]:
final_df = df[df.columns[:]][:]

In [7]:
final_labels = labels[labels.columns[1:]]

In [8]:
final_labels.head()

   1
0  1
1  1
2  1
3  1
4  1

In [9]:
print(final_df.shape)
print(final_labels.shape)

(1942872, 15)
(1942872, 1)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    final_df, final_labels, test_size=0.25, random_state=42)

# resume here

In [11]:
random_forest_clf = RandomForestClassifier(n_estimators=100, max_depth=20, max_features='auto')

In [12]:
start = time.time()
random_forest_clf.fit(X_train, y_train)
end = time.time()
print(end - start)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

960.9617233276367

In [13]:
print(random_forest_clf.feature_importances_)

[0.11163188 0.15277439 0.09084501 0.09440372 0.06023498 0.08172334
 0.05796346 0.07832404 0.05946206 0.05505282 0.0358164  0.03568898
 0.02981433 0.02665268 0.02961191]

In [14]:
predicted_values = random_forest_clf.predict(X_test)

In [15]:
f1_score(y_test, predicted_values, average='macro')

0.989144868197402

In [16]:
import pickle
pickle.dump(random_forest_clf, open("randomforest_svd.pkl", "wb"))

In [18]:
rf_svd_clf = pickle.load(open("ClassifiersPickleFiles/randomforest_svd.pkl", "rb"))

In [87]:
input = pd.read_csv("ActivityDatasets/SVD/test_svd_activity_8.csv", index_col=0)

In [88]:
test_labels = pd.read_csv("ActivityDatasets/SVD/test_svd_label_8.csv", index_col=0, header=None)

EmptyDataError: No columns to parse from file

In [77]:
print(input.shape)
print(test_labels.shape)

(200, 15)
(200, 1)

In [78]:
input.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
150868,253.878081,-26.486081,8.990373,12.912997,10.655940,-30.255372,-23.696729,-6.215104,-21.679630,2.494864,3.466078,5.520213,-13.912931,-1.522080,0.256222
150869,253.798641,-26.734581,9.169459,12.939340,10.363844,-30.664567,-23.680486,-6.604271,-21.132993,2.917075,3.582784,5.483417,-14.105979,-1.611725,0.506252
150870,253.773258,-26.388796,9.135950,12.916407,10.612123,-30.691864,-23.308145,-6.289836,-21.766421,3.479788,3.087758,5.443919,-14.084081,-1.426739,0.318274
150871,253.925507,-26.856305,9.319886,13.468711,10.398740,-30.066924,-23.832943,-6.081004,-21.120538,3.009631,3.189482,5.456307,-14.210558,-1.559282,0.521177
150872,253.791958,-26.422556,9.002761,12.901834,10.211579,-30.248522,-24.692294,-6.953146,-21.266650,2.829876,3.210783,5.273923,-14.244858,-1.525289,0.564027

In [79]:
test_labels.head()

        1
0
150868  4
150869  4
150870  4
150871  4
150872  4

In [80]:
test_predicted_values = random_forest_clf.predict(input)

In [81]:
f1_score(test_labels, test_predicted_values, average='macro')

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

0.494949494949495

In [82]:
accuracy_score(test_labels, test_predicted_values)

0.98

In [89]:
def check_rf_svd_accuracy():
    for i in range(1,25):
        if(i in [8,9,10,11,14,15,18,19,20,21,22,23]):
            continue
        input = pd.read_csv("ActivityDatasets/SVD/test_svd_activity_"+str(i)+".csv", index_col=0)
        test_labels = pd.read_csv("ActivityDatasets/SVD/test_svd_label_"+str(i)+".csv", index_col=0, header=None)
        test_predicted_values = random_forest_clf.predict(input)
        print("Activity : "+str(i))
        print("F1 Score")
        print(f1_score(test_labels, test_predicted_values, average='macro'))
        print("Accuracy Score")
        print(accuracy_score(test_labels, test_predicted_values))
        print("\n")

In [90]:
check_rf_svd_accuracy()

Activity : 1
F1 Score
1.0
Accuracy Score
1.0


Activity : 2
F1 Score
1.0
Accuracy Score
1.0


Activity : 3
F1 Score
0.49748743718592964
Accuracy Score
0.99


Activity : 4
F1 Score
0.494949494949495
Accuracy Score
0.98


Activity : 5
F1 Score
1.0
Accuracy Score
1.0


Activity : 6
F1 Score
1.0
Accuracy Score
1.0


Activity : 7
F1 Score
1.0
Accuracy Score
1.0

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

Activity : 12
F1 Score
1.0
Accuracy Score
1.0


Activity : 13
F1 Score
0.494949494949495
Accuracy Score
0.98


Activity : 16
F1 Score
1.0
Accuracy Score
1.0


Activity : 17
F1 Score
0.46380697050938335
Accuracy Score
0.865


Activity : 24
F1 Score
1.0
Accuracy Score
1.0

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)