In [1]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
df = pd.read_csv('preprocessed_data_PCA.csv',header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405725,23.781513,-5.840281,-2.202161,9.618831,-7.817354,-2.326413,0.830279
1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324971,-7.529464,-2.212197,1.018723
2,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755439,-7.158226,-1.902848,1.055714
3,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535679,-2.766648,8.991217,-6.957730,-2.020537,1.184568
4,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404352,-2.656896,9.327715,-7.326091,-2.264919,0.889200

In [4]:
labels = pd.read_csv("labels.csv", header=None)

In [5]:
labels.head()

      0  1
0  6147  1
1  6148  1
2  6149  1
3  6150  1
4  6151  1

In [6]:
final_df = df[df.columns[:]][:]

In [7]:
final_labels = labels[labels.columns[1:]]

In [8]:
final_labels.head()

   1
0  1
1  1
2  1
3  1
4  1

In [9]:
print(final_df.shape)
print(final_labels.shape)

(1942872, 15)
(1942872, 1)

In [10]:
final_df=(final_df-final_df.mean())/final_df.std()

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    final_df, final_labels, test_size=0.25, random_state=42)

# resume here

In [12]:
random_forest_clf = RandomForestClassifier(n_estimators=100, max_depth=20, max_features='auto')

In [13]:
start = time.time()
random_forest_clf.fit(X_train, y_train)
end = time.time()
print(end - start)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

888.3648188114166

In [14]:
print(random_forest_clf.feature_importances_)

[0.18664049 0.09458699 0.09806712 0.06458115 0.08384975 0.06115176
 0.07857349 0.06282173 0.0580057  0.04018611 0.03793371 0.03575675
 0.03053352 0.03092878 0.03638296]

In [15]:
predicted_values = random_forest_clf.predict(X_test)

In [16]:
f1_score(y_test, predicted_values, average='macro')

0.9902667399144099

In [17]:
import pickle
pickle.dump(random_forest_clf, open("RandomForest_PCA.pkl", "wb"))