In [45]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [46]:
df = pd.read_csv('preprocessed_data_PCA.csv',header=None)

In [47]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.915478,-29.708285,-18.567470,19.941870,10.040662,47.994886,22.602111,-26.405726,23.781513,-5.840281,-2.202161,9.618834,-7.817354,-2.326412,0.830223
1,0.501408,-29.982723,-18.356527,20.196495,9.906214,48.728084,22.441971,-26.463517,23.666009,-6.104951,-2.466416,9.324974,-7.529465,-2.212196,1.018666
2,0.672313,-30.011755,-18.285465,19.496385,10.125876,48.823792,23.462359,-25.295018,23.042888,-6.194817,-2.579618,8.755442,-7.158226,-1.902847,1.055656
3,0.057232,-29.760668,-18.074979,20.012192,9.574128,48.935205,22.873641,-26.585023,23.323926,-6.535680,-2.766648,8.991219,-6.957730,-2.020536,1.184513
4,0.910670,-29.695378,-18.205501,19.553513,9.788785,49.051764,22.605893,-27.023506,23.661876,-6.404353,-2.656896,9.327718,-7.326092,-2.264918,0.889146

In [48]:
labels = pd.read_csv("labels.csv", header=None)

In [49]:
labels.head()

      0  1
0  6147  1
1  6148  1
2  6149  1
3  6150  1
4  6151  1

In [56]:
final_df = df[df.columns[:]][:]

In [51]:
final_labels = labels[labels.columns[1:]]

In [52]:
final_labels.head()

   1
0  1
1  1
2  1
3  1
4  1

In [57]:
print(final_df.shape)
print(final_labels.shape)

(1942872, 15)
(1942872, 1)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(
    final_df, final_labels, test_size=0.25, random_state=42)

# resume here

In [59]:
random_forest_clf = RandomForestClassifier(n_estimators=100, max_depth=20, max_features='auto')

In [60]:
start = time.time()
random_forest_clf.fit(X_train, y_train)
end = time.time()
print(end - start)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

900.711746931076

In [61]:
print(random_forest_clf.feature_importances_)

[0.18298983 0.09438657 0.09978326 0.06408891 0.08420214 0.06194943
 0.07929326 0.06342629 0.05763132 0.04077242 0.03824819 0.03610986
 0.0301963  0.03040476 0.03651748]

In [62]:
predicted_values = random_forest_clf.predict(X_test)

In [63]:
f1_score(y_test, predicted_values, average='macro')

0.9903273834514703

In [64]:
import pickle
pickle.dump(random_forest_clf, open("randomforest_pca.pkl", "wb"))