In [11]:
import pickle
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
df = pd.read_csv('reduced_data_after_interpolation.csv',header=None)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,NaN,HeartRate,IMU_Hand_temperature,IMU_Hand_3D-acc_16g_1,IMU_Hand_3D-acc_16g_2,IMU_Hand_3D-acc_16g_3,IMU_Hand_3D-acc_6g_1,IMU_Hand_3D-acc_6g_2,IMU_Hand_3D-acc_6g_3,IMU_Hand_3D-gyroscope_1,...,IMU_Ankle_3D-magnetometer_2,IMU_Ankle_3D-magnetometer_3,IMU_Ankle_orientation_1,IMU_Ankle_orientation_2,IMU_Ankle_orientation_3,IMU_Ankle_orientation_4,Age(years),Height(cm),Weight(kg),Resting HR(bpm)
1,0.0,84.0,33.8125,-9.64938,-1.6858400000000002,0.9788879999999999,-9.46791,-1.6807599999999998,1.1548,-0.00824009,...,37.8429,-17.4803,0.5517479999999999,0.371357,0.693585,0.276781,32,179,87,66
2,1.0,84.0,33.8125,-9.80348,-1.72328,0.899731,-9.46778,-1.7411,1.23043,0.0542927,...,38.6152,-17.9068,0.5516979999999999,0.37148400000000004,0.693471,0.276996,32,179,87,66
3,2.0,84.0,33.8125,-9.65232,-1.53509,0.862873,-9.468539999999999,-1.75627,1.15496,0.00032358,...,37.4857,-18.475,0.551888,0.371094,0.693512,0.277036,32,179,87,66
4,3.0,84.0,33.8125,-9.65045,-1.6482299999999999,0.940257,-9.49956,-1.7863200000000001,1.07956,0.00970056,...,38.7685,-18.3343,0.55183,0.371118,0.6934939999999999,0.277167,32,179,87,66

In [4]:
labels = pd.read_csv("labels.csv", header=None)

In [5]:
labels.head()

      0  1
0  6147  1
1  6148  1
2  6149  1
3  6150  1
4  6151  1

In [26]:
final_df = df[df.columns[1:]][1:]

In [28]:
final_labels = labels[labels.columns[1:]]

In [29]:
final_labels.head()

   1
0  1
1  1
2  1
3  1
4  1

In [31]:
print(final_df.shape)
print(final_labels.shape)

(1942872, 56)
(1942872, 1)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    final_df, final_labels, test_size=0.25, random_state=42)

In [36]:
random_forest_clf = RandomForestClassifier(n_estimators=100, max_depth=20, max_features='auto')

In [37]:
start = time.time()
random_forest_clf.fit(X_train, y_train)
end = time.time()
print(end - start)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

1888.2069189548492

In [39]:
print(random_forest_clf.feature_importances_)

[0.09714366 0.07406636 0.02407842 0.00964035 0.01606895 0.02507375
 0.00957579 0.01830129 0.00123857 0.00309319 0.00433098 0.02273829
 0.00872306 0.01380604 0.00868984 0.00930495 0.00821534 0.00631687
 0.0695666  0.00296058 0.01918785 0.0441665  0.0036653  0.02167529
 0.04219297 0.00101595 0.00666849 0.00151693 0.01997125 0.04046763
 0.03977485 0.02196142 0.01287071 0.01606829 0.01685592 0.04710317
 0.01494798 0.0039038  0.00187855 0.01149373 0.00700098 0.00278132
 0.00229467 0.00225289 0.00778973 0.02830088 0.00794143 0.02613884
 0.01164823 0.01146522 0.01080429 0.01293977 0.0104365  0.01297462
 0.01360154 0.01130961]

In [40]:
predicted_values = random_forest_clf.predict(X_test)

In [41]:
f1_score(y_test, predicted_values, average='macro')

0.999822649411405

In [44]:
import pickle
pickle.dump(random_forest_clf, open("randomforest.pkl", "wb"))